{% extends 'base.html' %}
{% block extrahead %}
    <style>
        .container {
            max-width: 600px;
        }
        .success-card {
            background-color: #f8f9fa;
            border: 1px solid #ced4da;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
        }
        .text-primary {
            color: #007bff;
        }
    </style>
{% endblock extrahead %}
{% block content %}
    <br>
    <div class="container">
        <div class="success-card">
            <h1 class="display-4">Upload Success!</h1>
            <p>Your file has been uploaded and encrypted successfully.</p>
            <p>
                <strong> Please Save this key to decrypt key otherwise you won't able to decrypt the file. </strong>
                <strong>Decryption Key:</strong>
                <span class="text-primary">{{ file.decryption_key }}</span>
            </p>
            <p>You can use this decryption key to decrypt your file when needed.</p>
        </div>
    </div>

{% endblock content %}